body {
  margin: 0;
}

.App {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: flex;
  flex-direction: column;
  padding: 10vh 30vw;

}

#buttons {
  margin-top: 20vh;
  column-gap: 10px;
}